/* propertyDetails.css */
.property-details-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
}

.property-details-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.property-address,
.property-details,
.property-image,
.google-reviews,
.property-policies,
.property-website {
  margin-bottom: 20px;
  width: 30rem;

}

.property-address h2,
.property-details h2,
.property-image h2,
.google-reviews h2,
.property-policies h2,
.property-website h2 {
  font-family:Cormorant Infant;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.property-address p,
.property-details p,
.google-reviews p,
.property-policies p,
.property-website p {
  margin-bottom: 5px;
  font-family: karla;
  font-size: 1.2rem;
}

.property-image img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.review {
  border: 1px solid #eaeaea;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.review p {
  margin-bottom: 5px;
}

.property-website a {
  color: #007bff;
  text-decoration: none;
}

.property-website a:hover {
  text-decoration: underline;
}
.full-width {
    margin: 2rem;
}
