
.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
.home-section{
  width: 100%;
  height: 100vh;
background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(/src/res/hero.png) no-repeat;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header{  
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin: 1rem;
  
}
.logo{
  width: 20%;
    margin: 1rem;

}
.logo>img{
  width: 4rem;
  height: 4rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.subheaders{
  width: 80%;
  text-align: end;
  margin: 1rem;
}
.subheaders>span{
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
    transition: opacity .2s;
    padding: .5rem;

}
.subheaders>span:hover{
opacity: .8;
}
.search-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  margin: 0rem;
}
.home-header{
  color: rgb(255, 255, 255);
  width: 80%;
  font-size: 7rem;
  margin: 2rem;
  font-style: normal;
  text-align: center;
  font-family: Cormorant Infant;
  font-weight: 700;
  line-height: 90px;
}
.home-caption{
    color: rgb(255, 255, 255);
  font-size: 1.5rem;
  width: 80%;
  margin: 2rem;
  text-align: center;
  font-family: Karla;
  line-height: 27px;
}

.home-filter {
  gap: 8px;
  width: 856px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 20px;
  border-radius: 500px;
  padding-right: 20px;
  flex-direction: row;
  padding-bottom: 5px;
  justify-content: center;
  background-color: #ffffff;
}
.home-image {
  height: 22px;
  object-fit: cover;
}
.home-textinput {
  width: 100%;
  padding: 0px;
  margin-top: 5px;
  font-family: Karla;
    font-size: 1rem;

  border-color: #949aa5;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 5px;
  border-right-width: 1px;
}
.home-textinput1 {
  width: 50%;
  padding: 0px;
  margin-top: 5px;
    font-size: 1rem;
  font-family: Karla;
  border-color: #949aa5;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 5px;
  border-right-width: 1px;
}
.home-textinput2 {
  width: 50%;
  padding: 0px;
  margin-top: 5px;
  font-size: 1rem;
  font-family: Karla;
  border-color: #949aa5;
  border-width: 0px;
  border-radius: 0px;
  margin-bottom: 5px;
  border-right-width: 1px;
}
.home-input {
  width: 50%;
  padding: 4px;
  font-size: 1rem;
  font-family: Karla;
  border-color: #949aa5;
  border-width: 0px;
  border-radius: 0px;
}
.home-search {
  cursor: pointer;
  display: flex;
  padding: 12px;
  transition: 0.3s;
  align-items: center;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  background-color: #fad87a;
}
.home-search:hover {
  opacity: 0.5;
}
.home-icon10 {
  width: 18px;
  object-fit: cover;
}
.autocomplete-options {

  width: 30%;
  margin-left: 2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.autocomplete-option {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-option:hover {
  background-color: #f5f5f5;
}


.popular-stays{
  width: 100%;
  margin: 1rem;

}
.autocomplete-option{
  font-family:karla;
}
.list-subitems{
  font-size: .8rem;
  color: #949aa5;
}
